@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/* bacgkground images */

#bg-index {
    background-image: linear-gradient(rgba(4,9,30,.5),rgba(4,9,30,.5)), url(../images/background_1.jpg);
}
#bg-about {
    background-image: linear-gradient(rgba(4,9,30,.5),rgba(4,9,30,.5)), url(../images/background_2.jpg);
}
#bg-membership {
    background-image: linear-gradient(rgba(4,9,30,.6),rgba(4,9,30,.6)), url(../images/background_3.jpg);
}

#bg-classes {
    background-image: linear-gradient(rgba(4,9,30,.6),rgba(4,9,30,.6)), url(../images/background_4.jpg);
}

#bg-contact {
    background-image: linear-gradient(rgba(4,9,30,.6),rgba(4,9,30,.6)), url(../images/background_5.jpg);
}

#bg-gallery {
    background-color: black;
}
/* Styling the navigation links */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.links {
    text-align: right;
}

.links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.links .active {
    color: red;
}

/* Hover effect on menu links */

.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover::after {
    width: 100%;
}

/* Styling the welcome text and headings */

.welcome-text {
    color: #fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-text h1 {
    font-size: 62px;
    color: #fff;
}

.welcome-text p {
    margin: 10px 0 10px;
    font-size: 25px;
    color: lightgray;
}

/* Styling the 'join us' buttton for home and about pages */

.first-button, .second-button {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-decoration: none;
    padding: 12px 34px;
    font-size: 30px;
    background-color: red;
    position: relative;
    cursor: pointer;
}

.first-button:hover, .second-button:hover {
    border: 1px solid #fff;
    background: rgb(76, 78, 78);
    transition: 1s;
}

/* footer */

footer {
    background-color: black;
    height: 10vh;
    position: sticky;
    top: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0;
    color: #fff;
}

/* About page */

.about-text {
    color: #fff;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-text h1 {
    font-size: 42px;
    color: #fff;
}

.about-text p {
    margin: 10px 0 10px;
    font-size: 25px;
    color: #fff;
}

/* Membership page */

.basic-plan, .full-plan {
    width: 300px;
    border-radius: 10%;
    overflow: hidden;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    margin: 10px;
    margin-top: -10px;
    background-color: rgba(0,0,0,0.7);
    border: 2px solid red;
}

.basic-plan-header, .full-plan-header {
    padding: 25px;
}

.basic-plan-title, .basic-plan-addon, .full-plan-title, .full-plan-addon {
    margin: 0;
    text-align: center;
}

.basic-plan-title, .full-plan-title {
    font-size: 1.5em;
    font-weight: 400;
}

.basic-plan-addon, .full-plan-addon {
    font-size: 1em;
    font-weight: 300;
}

.basic-plan-description, .full-plan-description {
    padding: 25px;
}

.basic-plan-list, .full-plan-list {
    padding: 0;
    margin: 0;
}

.basic-plan-benefit, .full-plan-benefit, .basic-plan-benefit-none {
    list-style: none;
    margin: 0;
    font-size: 0.9em;
    padding-left: 25px;
    position: relative;
}

.basic-plan-benefit:not(:last-child), .full-plan-benefit:not(:last-child), .basic-plan-benefit-none:not(:last-child) {
    margin-bottom: 0.5em;
}

.basic-plan-benefit::before, .full-plan-benefit::before {
    content: "\2714";
    color: green;
    position: absolute;
    left: 0;
}

.basic-plan-benefit-none::before {
    content: "\01F7B2";
    color: red;
    position: absolute;
    left: 0%;
}

.basic-plan-select, .full-plan-select {
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.basic-plan-button, .full-plan-button {
    display: inline-block;
    margin: 15px auto;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 7%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 20px;
    font-weight: 700;
}

.basic-plan-button:hover, .full-plan-button:hover {
    border: 2px solid green;
    background-color: green;
    transition: 1s;
}

.basic-plan-price, .full-plan-price {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

.basic-plan-text, .full-plan-text {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0 0 10px 0;
}

.plan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Classes page */

.table-box {
    margin: 10px auto;
}

.table-row {
    display: table;
    width: 60%;
    margin: 10px auto;
    background-color: rgba(241, 8, 8, 0.7);
    padding: 8px 0;
    color: #fff;
    font-size: 20px;
}

.table-cell {
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 2px 0;
    border-right: 1px solid #fff;
    vertical-align: middle;
}

.table-head {
    background: rgba(44, 2, 2, 0.7);
    font-weight: 700;
}

/* Gallery page */

#gallery-section {
    clear: both;
    line-height: 0;
    column-count: 4;
    gap: 0px;
}

#gallery-section img {
    width: 100%;
}

/* Contact page */

.join-us-box {
    background: #fff;
    display: flex;
}

.container {
    width: 80%;
    margin: 5px auto;
}

.register {
    flex-basis: 60%;
    padding: 20px 60px;
}

.contact {
    flex-basis: 40%;
    padding: 40px;
    background: red;
    color: white;
}

h1 {
    margin-bottom: 10px;
    color: white;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-container .input-box {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 5px;
    display: block;
    color: red;
}

/* .join-us {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.join-us h1 {
    font-size: 35px;
    color: red;
    display: inline-block;
    padding: 1px;
    margin-bottom: 15px;
}

.join-us form {
    padding: 2%;
    margin: 0 auto;
}

::placeholder {
    color: #fff;
}

.join-us form .input-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.join-us form .input-box input, textarea {
    /* height: 20px;
    width: 20%;
    background-color: rgba(241, 8, 8, 0.7);
    color: red;
    padding: 5px 5px;
    margin: 10px 0;
    font-size: 20px;
    border: 1px solid red; */

    /* height: 3rem;
    width: 40%;
    background-color: rgba(241, 8, 8, 0.7);
    color: red;
    padding: 5px 5px;
    margin: 5px 0;
    font-size: 20px;
    border: 1px solid red;

}.join-us form textarea {
    height: 100px;
    width: 80%;
    resize: none;
    padding: 1rem;
}

 .btn {
    margin-bottom: 2rem;
} */ */


/* media queries */

@media only screen and (min-width: 601px) {
    /* tablet view */
}

@media only screen and (min-width: 993px) {
    /* desktop view */
}

@media only screen and (min-width: 1201px) {
    /* large desktop view */
}